.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.file-info {
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-top: 16px;
}

mat-dialog-content {
  min-width: 400px;
}



